
<div class="row">
  <div class="float-right col-md-6 col-xs-12 col-sm-12">
    <img src="../../../../assets/images/solutions/pensamientoDigital.png" class="rounded float-left" alt="..." width="600" height="350"
      style="height:350px;">
  </div>
  <div class="float-right col-md-6 col-xs-12 col-sm-12">
    <h5 class="title">{{listSolutions.descripcion}}</h5>
    <p>{{listSolutions.descripcionProducto}}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card" *ngFor="let solution of listSolutions.detalles">
      <div class="card-header bg-primary text-light">
        <h5 class="card-title">{{solution.title}}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6" *ngFor="let item of solution.detalles">
            
              <i [class]="item.icono"></i>
              <span>&nbsp;&nbsp;{{item.descripcion}}</span>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>