<!-- NUESTROS CLIENTES -->
<div class="row">
  <div class="hidden-xs col-sm-2">
    <a href="http://www.google.com">
      <img class="img-thumbnail" src="../../assets/images/patrocinadores/techcrunch.png" alt="TechCrunch">
    </a>
  </div>
  <div class="hidden-xs col-sm-2">
    <a href="http://www.google.com">
      <img class="img-thumbnail" src="../../assets/images/patrocinadores/alt1040.png" alt="alt1040">
    </a>
  </div>
  <div class="hidden-xs col-sm-2">
    <a href="http://www.google.com">
      <img class="img-thumbnail" src="../../assets/images/patrocinadores/forbes.png" alt="forbes">
    </a>
  </div>
  <div class="hidden-xs col-sm-2">
    <a href="http://www.google.com">
      <img class="img-thumbnail" src="../../assets/images/patrocinadores/lavanguardia.png" alt="lavanguardia">
    </a>
  </div>
  <div class="hidden-xs col-sm-2">
    <a href="http://www.google.com">
      <img class="img-thumbnail" src="../../assets/images/patrocinadores/mashable.png" alt="mashable">
    </a>
  </div>
  <div class="hidden-xs col-sm-2">
    <a href="http://www.google.com">
      <img class="img-thumbnail" src="../../assets/images/patrocinadores/TNW.png" alt="TNW">
    </a>
  </div>
</div>

<!-- EXTRAS  -->
<div class="row justify-content-center" style="background-color: #132555;">
  <div class="card mx-auto bg-transparent" style="width: 18rem;">
    <h5 class="card-title footer-title text-center" style="color:grey">About Soluciones Integrales WT</h5>
    <div class="card-body text-justify" style="color:white">

      <p>Somos la compañía líder en Guatemala de soluciones específicas para instituciones educativas y empresas
        privadas ó publicas, con una
        experiencia de cerca de 5 años trabajando para diversidad de entidades comerciales y educativas en toda la
        República.</p>
    </div>
  </div>
  <div class="card mx-auto bg-transparent" style="width: 18rem;">
    <h5 class="card-title footer-title text-center" style="color:grey">Last News</h5>
    <div class="card-body text-justify" style="color:white">
      <p>Portafolio Educativo</p>
      <p>E-learning</p>
      <p>Control Financiero</p>
    </div>
  </div>
  <div class="card mx-auto bg-transparent" style="width: 18rem;">
    <h5 class="card-title footer-title text-center" style="color:grey">Subscribe</h5>
    <div class="card-body text-justify" style="color:white">
      Mantente informado de las últimas noticias de nuestros nuevos productos y servicios.
    </div>
  </div>
  <div class="card mx-auto bg-transparent" style="width: 18rem;">
    <h5 class="card-title footer-title text-center" style="color:grey">We are part of</h5>
    <div class="card-body text-justify" style="color:white">
      Forma parte de nuestro equipo de trabajo.
    </div>
  </div>
</div>

<!-- DERECHOS  -->
<div class="container-fluid" style="background-color: #333; color:white; margin-top:10px">
  <div class="row">
    <div class="col-xs-12">
      <h6>© Derechos Reservados Soluciones Integrales WT &copy; 2019</h6>
    </div>
  </div>
</div>