<div class="row">
  <div class="float-right col-md-6 col-xs-12 col-sm-12">
    <img src="../../../../assets/images/icons/logo2.png" class="rounded float-left" alt="..." width="600" height="350"
      style="height:350px;">
  </div>
  <div class="float-right col-md-6 col-xs-12 col-sm-12">
    <h5 class="title">SOLUCIONES INTEGRALES WT</h5>
    <p>Solciones Integrales WT, es una compañía fundada en 2012 en Guatemala donde tiene basadas sus oficinas
      principales. Tiene oficinas de representación en la mayoría de países de Centroamérica.</p>

    <p>Cuenta con un portafolio de más de 150 clientes en la región. Cuenta con equipo de expertos en las áreas de
      tecnologías de la información, desarrollo, implementación y consultoría.</p>

    <p>Es la compañía líder en Guatemala de soluciones específicas para instituciones educativas, con una experiencia de
      cerca de 60 instalaciones en instituciones educativas en toda la República.</p>

  </div>

  <div class="col">
    <h5>NUESTRA TECNOLOGIA</h5>
    <p>Utilizamos tecnologías compatible entre computadores y moviles, dando al usuario una mejor experiencia al
      utilizar nuestra herramientas de tecnologia</p>
  </div>

  <div class="col">
  </div>
  <div class="row">
  </div>
  <div class="col">
    <h5>INNOVACIÓN CONSTANTE</h5>
    <p>Soluciones Integrales WT se mantiene en constante innovación, con el objetivo de estar mas cerca del cliente y
      que nuestro consumidor quede satisfecho con la calidad de producto que adquiera.</p>
  </div>

  <div class="col">
  </div>
  <div class="row">
  </div>
  <div class="col">
    <h5>SOPORTE</h5>
    <p>Brindaos soporte tecnico de nuestra aplicaciones 24/7</p>
  </div>
</div>